* {
    margin: 0;
    padding: 0;
}

.glitch_them_button {
    text-transform: uppercase;
    color: white;
    padding: 20px 50px;
    background: black;
    font-family: helvetica;
    font-weight: bold;
    width: 150px;
    margin: 0 auto;
    margin-top: 250px;
    background: black;
    text-align: center;
    display: block;
    text-decoration: none;
}

